/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg-color: #aa4040;
}

body {
    background-color: var(--bg-color);
}

html {
    font-size: 100%;
}
