/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg-color: #aa4040;
    --cell-color: #aaaaaa;
}

body {
    background-color: var(--bg-color);
}

html {
    font-size: 100%;
}

/* MAIN */
main {
    padding: 2rem;

}
.cell-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    /* height: 80vh; */

    margin: 1rem auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(80vh / 10);
    height: calc(80vh / 10);
    border: 1px solid var(--cell-color);
}